@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 198 5% 87%;
    --foreground: 222.2 84% 4.9%;
    --card: 198 15% 88%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 198 8% 87%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 206 100% 49%;
    --primary-foreground: 210 40% 98%;
    --secondary: 198 15% 88%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 217.2 91.2% 59.8%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 12% 17%;
    --foreground: 210 40% 98%;
    --card: 240 11% 20%;
    --card-foreground: 210 40% 98%;
    --popover: 240 11% 20%;
    --popover-foreground: 210 40% 98%;
    --primary: 206 100% 49%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 240 11% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    scroll-behavior: smooth;
  }
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* == Main and Line == */

.custom-border {
  border-right: 1px dashed transparent;
  border-image: repeating-linear-gradient(0deg, #008df960, #008df960 10px, transparent 10px, transparent 20px);
  border-image-slice: 1;
}

@media(max-width: 640px) {
  .custom-border {
      border: none;
  }
}
